@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff; /* Light Mode: White */
    --foreground: #0f172a; /* Light Mode: Dark Blue text */
  }

  .dark {
    --background: #020617; /* Dark Mode: Navy Blue */
    --foreground: #f8fafc; /* Dark Mode: Light text */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
  }
}
html {
  background-color: var(--background);
}
html {
  scroll-behavior: smooth;
}